.color-1 {
    background-color: #D9F4C7
}

.color-2 {
    background-color: #F8FA90
}

.color-3 {
    background-color: #F4EF88
}

.color-4 {
    background-color: #AC9969
}

.color-5 {
    background-color: #9DCDC0
}