:root {
    --color-background: #5f4d69ff;
    --color-primary: #8f14faff;
    --color-secondary: #b543f7ff;
}

#container {
    position: relative;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 3px;
}

#background {
    position: relative;
    background-color: aquamarine;
}

body {
    margin: 0px;
}